@model IEnumerable<Kategoria>
@{
    ViewBag.Title = "Home Page";
}

<div class="text-center">
    @foreach(var kategoria in Model)
    {
        <p>@kategoria.Nazwa</p>

    }
    <p>Index</p>
</div>

<table class="table">

</table>
